* {
  box-sizing: border-box;
}

.restaurant-item {
  display: flex;
  height: 130px;
  width: 350px;
  margin-bottom: 80px;
  font-family: 'Roboto';
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .restaurant-item {
    height: 100px;
    width: 350px;
    margin-bottom: 80px;

    margin-right: 10px;
  }
}
.restaurant-logo {
  width: 160px;
  height: 160px;
  border-radius: 4px;
  margin-right: 8px;
}
@media screen and (max-width: 768px) {
  .restaurant-logo {
    width: 150px;
    height: 170px;
    margin-bottom: 25px;
  }
}
.restaurant-title {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 15px;
  color: #334155;
}
@media screen and (max-width: 768px) {
  .restaurant-title {
    font-size: 12px;
  }
}
.rating-container {
  display: flex;
  align-items: center;
}
.cuisine {
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .cuisine {
    font-size: 10px;
  }
}
.rating {
  font-size: 14px;
}
.star {
  color: #ffcc00;
}
.restaurant-link {
  text-decoration: none;
}
.total-reviews-count {
  font-size: 12px;
  font-weight: 500;
  color: #334155;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
