* {
  box-sizing: border-box;
}

.restaurant-item {
  display: flex;
  height: 130px;
  width: 350px;
  margin-bottom: 80px;
  font-family: 'Roboto';
  margin-right: 20px;
}
.restaurant-logo {
  width: 160px;
  height: 160px;
  border-radius: 4px;
  margin-right: 8px;
}
.restaurant-title {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #334155;
}
.rating-container {
  display: flex;
}
.cuisine {
  font-size: 14px;
  font-weight: 500;
}
.rating {
  font-size: 14px;
}
.star {
  color: #ffcc00;
}
.restaurant-link {
  text-decoration: none;
}
.total-reviews-count {
  font-size: 12px;
  font-weight: 500;
  color: #334155;
}
