.restaurants-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
.restaurants-heading {
  font-size: 30px;
  color: #183b56;
}
.choose-description {
  font-size: 16px;
  color: #64748b;
  font-weight: 500;
}
.sort-by-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #475569;
}
.sort-by-icon {
  height: 35px;
  width: 30px;
}
.sort-by-select {
  font-size: 15px;
  color: blueviolet;
  font-weight: 500px;
  border: none;
  font-weight: 600;
}
.select-option {
  font-size: 15px;
  color: #000000;
  font-weight: 400px;
}
