.banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  padding-bottom: 35px;
  padding-top: 35px;
  color: #ffffff;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .banner-section {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
.banner-card {
  display: flex;
  align-items: center;
}
.banner-image {
  height: 350px;
  width: 85%;
  border-radius: 5px;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .banner-image {
    width: 50%;
    height: 200px;
    margin-right: 10px;
  }
}
.details-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.name {
  font-size: 30px;
}
@media screen and (max-width: 7687px) {
  .name {
    font-size: 20px;
  }
}
.rating-cost-section {
  display: flex;
  align-items: center;
}
.rating-section {
  display: flex;
  align-items: center;
}

.start {
  height: 11px;
}
.reviews {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .reviews {
    font-size: 12px;
  }
}
.cost-for-two {
  font-size: 16px;
}
.cost-for-two-section {
  margin-left: 20px;
}
.location {
  font-size: 16px;
}
.cuisine {
  font-size: 18px;
}
.rating {
  font-size: 16px;
}

.items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex-wrap: wrap;
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .items-container {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 14px;
  }
}
.loader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.hr {
  height: 60px;
  margin: 14px;
}
