.home-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Roboto';
}
@media screen and (max-width: 768px) {
  .home-container {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 46%;
  margin-bottom: 100px;
}
