.cart-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1000px%;
}
.details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 67%;
}
@media screen and (max-width: 768px) {
  .details-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.quantity-control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cart-item-display-image {
  height: 120px;
  width: 160px;
  margin-right: 14px;
  margin-bottom: 14px;
}
.item-display {
  display: flex;
  align-items: center;
}
.item-name {
  width: 150px;
}
.button {
  margin: 10px;
}
.item-name {
  font-size: 14px;
}
.btn {
  border: 1px solid #000000;
  background-color: #475569;
  color: #000000;
  margin: 5px;

  height: 25px;
  width: 25px;
}
