.footer-container {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  width: 49px;
  height: 39px;
}
@media screen and (max-width: 768px) {
  .footer-logo {
    width: 39px;
    height: 29px;
  }
}
.footer-title {
  font-family: DM Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;

  color: #ffffff;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .footer-title {
    font-size: 16px;
  }
}
.footer-text {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer-text {
    font-size: 12px;
  }
}
.icons-container {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 30px;
  width: 30px;
  margin: 10px;
}
@media screen and (max-width: 768px) {
  .icon {
    height: 20px;
    width: 20px;
  }
}
