.restaurants-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 13px;
}
.restaurants-loader-container {
  margin-left: 52%;
}
